fastapi>=0.111.0
uvicorn[standard]>=0.29.0
pydantic>=2.7.0
pydantic[email]>=2.7.0
pydantic-settings>=2.2.1

sqlalchemy>=2.0.30
alembic>=1.13.1
asyncpg>=0.29.0

redis>=5.0.4
python-multipart>=0.0.22

CoolProp>=6.6.0
numpy>=1.26.0
scipy>=1.11.0
matplotlib

aiofiles>=23.2.1
python-dotenv>=1.0.1
networkx>=3.0
